In [1]:
import pandas as pd

In [2]:
mc = pd.read_csv('marketing_campaign.csv')

In [3]:
mc

,user_id,date_served,marketing_channel,variant,language_displayed,converted
0,a1000,1/1/18,House Ads,personalization,English,True
1,a1001,1/1/18,House Ads,personalization,English,True
2,a1002,1/1/18,House Ads,personalization,English,True
3,a1003,1/1/18,House Ads,personalization,English,True
4,a1004,1/1/18,House Ads,personalization,English,True
...,...,...,...,...,...,...
10032,a11032,1/17/18,Email,control,German,True
10033,a11033,1/17/18,Email,control,German,True
10034,a11034,1/5/18,Instagram,control,German,False
10035,a11035,1/17/18,Email,control,German,True
10036,a11036,1/6/18,Facebook,control,German,False

In [4]:
 sub = pd.read_csv('subscribers.csv')

In [5]:
sub

      user_id subscribing_channel date_subscribed date_canceled is_retained
0       a1000           House Ads          1/1/18           NaN        True
1       a1001           House Ads          1/1/18           NaN        True
2       a1002           House Ads          1/1/18           NaN        True
3       a1003           House Ads          1/1/18           NaN        True
4       a1004           House Ads          1/1/18           NaN        True
...       ...                 ...             ...           ...         ...
10032  a11032               Email         1/17/18       1/24/18       False
10033  a11033               Email         1/17/18           NaN        True
10034  a11034               Email         1/17/18           NaN        True
10035  a11035               Email         1/17/18           NaN        True
10036  a11036               Email         1/17/18           NaN        True

[10037 rows x 5 columns]

In [6]:
us = pd.read_csv ('users.csv')
us

      user_id    age_group language_preferred
0       a1000   0-18 years            English
1       a1001  19-24 years            English
2       a1002  24-30 years            English
3       a1003  30-36 years            English
4       a1004  36-45 years            English
...       ...          ...                ...
10032  a11032  45-55 years             German
10033  a11033    55+ years             German
10034  a11034    55+ years             German
10035  a11035   0-18 years             German
10036  a11036   0-18 years             German

[10037 rows x 3 columns]

In [8]:
mc.shape

(10037, 3)

In [9]:
sub.shape

(10037, 5)

In [10]:
us.shape

(10037, 3)

In [12]:
df_ = pd.merge(us, mc, on = 'user_id', how = 'right')
df_

,user_id,age_group,language_preferred,date_served,marketing_channel,variant,language_displayed,converted
0,a1000,0-18 years,English,1/1/18,House Ads,personalization,English,True
1,a1001,19-24 years,English,1/1/18,House Ads,personalization,English,True
2,a1002,24-30 years,English,1/1/18,House Ads,personalization,English,True
3,a1003,30-36 years,English,1/1/18,House Ads,personalization,English,True
4,a1004,36-45 years,English,1/1/18,House Ads,personalization,English,True
...,...,...,...,...,...,...,...,...
10032,a11032,45-55 years,German,1/17/18,Email,control,German,True
10033,a11033,55+ years,German,1/17/18,Email,control,German,True
10034,a11034,55+ years,German,1/5/18,Instagram,control,German,False
10035,a11035,0-18 years,German,1/17/18,Email,control,German,True
10036,a11036,0-18 years,German,1/6/18,Facebook,control,German,False

In [13]:
df = pd.merge(df_, sub, on = 'user_id', how = 'right')
df

,user_id,age_group,language_preferred,date_served,marketing_channel,variant,language_displayed,converted,subscribing_channel,date_subscribed,date_canceled,is_retained
0,a1000,0-18 years,English,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True
1,a1001,19-24 years,English,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True
2,a1002,24-30 years,English,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True
3,a1003,30-36 years,English,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True
4,a1004,36-45 years,English,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...
10032,a11032,45-55 years,German,1/17/18,Email,control,German,True,Email,1/17/18,1/24/18,False
10033,a11033,55+ years,German,1/17/18,Email,control,German,True,Email,1/17/18,NaN,True
10034,a11034,55+ years,German,1/5/18,Instagram,control,German,False,Email,1/17/18,NaN,True
10035,a11035,0-18 years,German,1/17/18,Email,control,German,True,Email,1/17/18,NaN,True
10036,a11036,0-18 years,German,1/6/18,Facebook,control,German,False,Email,1/17/18,NaN,True

In [14]:
df.describe()

,user_id,age_group,language_preferred,date_served,marketing_channel,variant,language_displayed,converted,subscribing_channel,date_subscribed,date_canceled,is_retained
count,10037,10037,10037,10021,10022,10037,10037,10022,1856,1856,577,1856
unique,10037,7,4,31,5,2,4,2,5,31,115,2
top,a1000,19-24 years,English,1/15/18,House Ads,control,English,False,Instagram,1/16/18,4/2/18,True
freq,1,1682,9275,789,4733,5091,9793,8946,600,163,15,1279

In [15]:
df.describe(include=['object', 'bool'])

,user_id,age_group,language_preferred,date_served,marketing_channel,variant,language_displayed,converted,subscribing_channel,date_subscribed,date_canceled,is_retained
count,10037,10037,10037,10021,10022,10037,10037,10022,1856,1856,577,1856
unique,10037,7,4,31,5,2,4,2,5,31,115,2
top,a1000,19-24 years,English,1/15/18,House Ads,control,English,False,Instagram,1/16/18,4/2/18,True
freq,1,1682,9275,789,4733,5091,9793,8946,600,163,15,1279

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10037 entries, 0 to 10036
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              10037 non-null  object
 1   age_group            10037 non-null  object
 2   language_preferred   10037 non-null  object
 3   date_served          10021 non-null  object
 4   marketing_channel    10022 non-null  object
 5   variant              10037 non-null  object
 6   language_displayed   10037 non-null  object
 7   converted            10022 non-null  object
 8   subscribing_channel  1856 non-null   object
 9   date_subscribed      1856 non-null   object
 10  date_canceled        577 non-null    object
 11  is_retained          1856 non-null   object
dtypes: object(12)
memory usage: 1019.4+ KB

Для оценки эффиективности маркетинговых каналов по привлечению платящих игроков, получим среднее значение по маркетинговым каналам is_retained (чем ближе к единице, тем больше по данному каналу первой подписки пользователя пользователей продолжили использовать сервис).
Пробовала ещё вот так - см. ниже, выполнилось, но с предупреждением и среднее было расчитано по всем столбцам, где это возможно.
Как тут добавить столбец для вычисления среднего что-то я не нагуглила.
df.groupby('subscribing_channel').mean()

In [29]:
df_agg = df.groupby('subscribing_channel').agg({

'is_retained': 'mean'

})
df_agg.sort_values(by = 'is_retained', ascending = False )

                     is_retained
subscribing_channel
Email                   0.737931
Push                    0.730539
Facebook                0.721348
Instagram               0.706667
House Ads               0.559322

Самая ранняя подписка

In [32]:
df.sort_values (by = 'date_subscribed', ascending = True).head(1)

,user_id,age_group,language_preferred,date_served,marketing_channel,variant,language_displayed,converted,subscribing_channel,date_subscribed,date_canceled,is_retained
0,a1000,0-18 years,English,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True

портрет аудитории удержанных подписчиков (по возрасту и языку)

In [41]:
df2 = df[df['is_retained'] == True]
df2['age_group'].value_counts(normalize = True)

19-24 years    0.254887
24-30 years    0.213448
0-18 years     0.179046
30-36 years    0.095387
45-55 years    0.093041
36-45 years    0.089914
55+ years      0.074277
Name: age_group, dtype: float64

In [44]:
df2['language_preferred'].value_counts(normalize = True)

English    0.921814
German     0.034402
Spanish    0.034402
Arabic     0.009382
Name: language_preferred, dtype: float64